<!-- <nav>
    <span>
        Welcome To My Page
    </span>
    <ul>
        <a href="">Register</a>
        <a href="">Login</a>
    </ul>
</nav>     -->

<mat-toolbar color="primary">
    <a mat-icon-button href="" routerLink="/">welcome to student portal</a>
    <span class="spacer"></span>
    <button mat-icon-button href="" routerLink="/login" style="margin-right: 40px;">Login</button>
    <!-- <button mat-icon-button href="" routerLink="/register" style="margin-right: 70px;">Register</button> -->
    <button mat-icon-button href="" (click)="register()"type="button " style="margin-right:70px;">Register</button>
    <span class="example-spacer"></span>
  </mat-toolbar>

  
